___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___
# Ecommerce Purchases Exercise

In this Exercise you will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Feel free to reference the solutions. Most of the tasks can be solved in different ways. For the most part, the questions get progressively harder.

Please excuse anything that doesn't make "Real-World" sense in the dataframe, all the data is fake and made-up.

Also note that all of these questions can be answered with one line of code.
____
** Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom. **

In [1]:
import pandas as pd 
import numpy as np

In [2]:
ecom=pd.read_csv('Ecommerce Purchases')

**Check the head of the DataFrame.**

** How many rows and columns are there? **

In [20]:
ecom.shape

(10000, 14)

** What is the average Purchase Price? **

In [4]:
ecom['Purchase Price'].mean()

50.347302

** What were the highest and lowest purchase prices? **

In [5]:
ecom['Purchase Price'].max()

99.99

In [6]:
ecom['Purchase Price'].min()

0.0

** How many people have English 'en' as their Language of choice on the website? **

In [7]:

x=ecom.loc[ecom['Language']==('en')]
t=x.groupby('Language').count()
t

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Purchase Price
Language,,,,,,,,,,,,,
en,1098,1098,1098,1098,1098,1098,1098,1098,1098,1098,1098,1098,1098

** How many people have the job title of "Lawyer" ? **

In [8]:
x=ecom.loc[ecom['Job']==('Lawyer')]
t=x.groupby('Job').count()
t

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,IP Address,Language,Purchase Price
Job,,,,,,,,,,,,,
Lawyer,30,30,30,30,30,30,30,30,30,30,30,30,30

** How many people made the purchase during the AM and how many people made the purchase during PM ? **

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) ) **

In [9]:
x=ecom['AM or PM']
x.value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

** What are the 5 most common Job Titles? **

In [10]:
ecom['Job'].value_counts().head(5)
# grouped=ecom.groupby('Job').count()
# top5=grouped.sort_values(by='Address',ascending=False)[:5]
# top5
# any column can be used in place of address

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

** Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? **

In [11]:
# ecom[ecom['Lot']=='90 WT']['Purchase Price']
ecom.loc[ecom.loc[ecom['Lot']=='90 WT'].index[0]]['Purchase Price']

75.1

** What is the email of the person with the following Credit Card Number: 4926535242672853 **

In [12]:
ecom.loc[ecom.loc[ecom['Credit Card']==4926535242672853].index[0]]['Email']

'bondellen@williams-garza.com'

** How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

In [13]:
# ecom[(ecom['CC Provider']=='American Express') & (ecom['Purchase Price']>95)].count() 
ecom.loc[(ecom['CC Provider']=='American Express')& (ecom['Purchase Price']>95)].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

** Hard: How many people have a credit card that expires in 2025? **

In [14]:
sum(ecom['CC Exp Date'].apply(lambda x: x[3:]) == '25')

1033

** Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

In [15]:
ecom['Email'].apply(lambda x: x.split('@')[1]).value_counts().head(5)
# got this from soln module online
#

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

# Great Job!